<?xml version="1.0"?>
<PBIWebApp.Properties.Settings>
  <setting name="ApplicationID" serializeAs="String">
    <value>6c9b0e69-b7b4-4d09-9a71-e893936fa8e6</value>
  </setting>
  <setting name="PowerBiAPIResource" serializeAs="String">
    <value>https://analysis.windows.net/powerbi/api</value>
  </setting>
  <setting name="ApplicationSecret" serializeAs="String">
    <value>VgeUEx+gxJ*7CI]1v/6A5_4w6A6orlDd</value>
  </setting>
  <setting name="AADAuthorityUri" serializeAs="String">
    <value>https://login.windows.net/common/</value>
  </setting>
  <setting name="PowerBiDataset" serializeAs="String">
    <value>https://api.powerbi.com/v1.0/myorg/</value>
  </setting>
  <setting name="RedirectUrl" serializeAs="String">
    <value>http://localhost:13526/</value>
  </setting>
  <setting name="PowerBiApiUrl" serializeAs="String">
    <value>https://api.powerbi.com/</value>
  </setting>
  <setting name="WorkspaceId" serializeAs="String">
    <value>9daa2858-bcb7-495e-891b-5e117387ec35</value>
  </setting>
  <setting name="ReportId" serializeAs="String">
    <value>cfdf792e-3845-475c-8036-9901406a8fca</value>
  </setting>
</PBIWebApp.Properties.Settings>
